:root {
  /* Define Website Color Scheme*/
  --bg-color: #1d3557;
  --text-color: #ffffff;
  --sub-color: #d9d9d9;
  --red-accent-dark: #780000;
  --red-accent-light: #c1121f;
  --blue-accent: #457b9d;
}
  
  body {
    margin: 0;
    background-color: var(--bg-color);
  }
  
  